{% extends "menu.html" %}
{% block content %}
<div class="text-center">
    <h1 class="display-4">ATENCIONES</h1>
    <h3 class="display-7">{{mensaje}}</h3>
</div>
<div class="row">
     <a href="/servidores/atenciones/ver/{{idServidor}}" class="btn btn-danger">AGREGAR</a>
     <a href="/servidores/atenciones/eliminar/{{idServidor}}" class="btn btn-info">ELIMINAR</a>
    <table id="tabla" class="table text-black">
        <thead>
            <th>CODIGO</th>
            <th>DIA</th>
            <th>TIEMPO</th>
            <th>CALIFICACION</th>
            <th>MOTIVO</th>
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.dia}}</td>
                    <td>{{item.tiempo}}</td>
                    <td>{{item.calificacion}}</td>
                    <td>{{item.motivo}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

